@media (min-width: 1025px) {
  .grid-boxes {
    grid-template-columns: auto auto auto;
  }

  .container {
    width: 960px;
  }

  .container-nav {
    width: 960px;
  }

  .container .branding {
    width: 960px;
  }

  .container-tiny {
    width: 577px;
  }

  .container-main {
    width: 960px;
  }

  .button-style:hover {
    color: black;
    background-color: white;
  }

  .container-boxes {
    width: 960px;
  }

  .container-boxes-grid {
    width: 960px;
  }

  .box:hover {
    transform: scale(1.05);
  }

  .container-footer {
    width: 960px;
  }
}
