* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400px;
}

nav {
  position: sticky;
  top: 0;
}

.header-main {
  width: 60%;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.reversed .expert-info {
  text-align: justify;
}

.paragraph-main {
  padding: 60px 0 40px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  z-index: 1;
  height: 50px;
  background-color: #4e4e4e;
  position: sticky;
  top: 0;
}

.container-nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .branding {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
}

.nav-items {
  display: flex;
}

.my-brand {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.disabled {
  display: none;
}

.links {
  display: none;
}

.container-tiny {
  width: 60%;
  margin: 0;
  justify-content: left;
  align-items: center;
}

.container-main {
  width: 90%;
  margin: 0;
  justify-content: left;
  align-items: center;
}

.paragraph-about {
  padding: 0 0 30px 0;
}

.experts-section {
  padding-bottom: 20px;
}

.expert {
  display: grid;
  text-align: justify;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0 20px 0;
}

.expert:nth-of-type(even) {
  flex-direction: row-reverse;
}

 {
  padding-bottom: 30px;
}

.expert .image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
  flex: none;
}

.full-name {
  font-weight: 700;
  padding: 30px 0 30px 0;
  line-height: 21px;
}

.experts-header {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
  font-size: 36px;
  font-weight: 700;
  color: #152d41;
  line-height: 42px;
}

.description {
  font-weight: 400;
  line-height: 21px;
}

.container .branding .image {
  width: 50px;
  height: 50px;
  justify-content: center;
  object-fit: cover;
  border-radius: 50%;
}

.header-welcome {
  height: 100vh;
  position: relative;
}

.header-welcome .image-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-welcome .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.company-header {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 50px;
  color: white;
}

.button-style {
  width: 164px;
  height: 40px;
  padding: 20px 40px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid white;
  transition: 1s;
}

.anchor {
  text-decoration: none;
}

.before-after-section {
  padding: 50px 0;
  background-color: #405d78;
}

.container-boxes {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.box {
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #f1f1f1;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px rgba(66, 68, 90, 1);
  transition: 1s;
}

.text {
  padding: 20px;
}

.header-box-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-new {
  font-size: 18px;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -11px;
  background-color: #e07a64;
}

.container-boxes-grid {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.grid-boxes {
  display: grid;
  grid-template-columns: auto;
  gap: 63px;
  justify-content: center;
}

.contact-section {
  padding: 50px 0;
  background-color: #405d78a1;
}

.contact-header {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
  font-size: 36px;
  font-weight: 700;
  color: #152d41;
  line-height: 42px;
}

.footer-all {
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
  color: #ffffff;
}

.container-footer {
  width: 90%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
}

.logo {
  font-size: 31px;
  color: #ffffff;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 18px;
}
